body {
    background-color: aqua;
}
#score {
    font-size: medium;
    margin-left: -1400px;
}
#timer {
    font-size: medium;
    float: right;
    margin-right: 10px;
}
#sketch_to_be_drawn {
    text-decoration-color: rgb(228, 222, 222);
}